@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
    text-align: center;
    background-color: lightgray;
    font-family: 'cwTeXYen', sans-serif;
}
h2{

    height: 32px;
    font-size: medium;
}