@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
    text-align: center;
    background-image: url(image/pic01.png);
    font-family: 'cwTeXYen', sans-serif;
}


#cell {vertical-align:middle; }

li{
    text-align: left;
}